In [10]:
import joblib
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv("../data/raw/iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df = df.drop("Id", axis = 1)

In [5]:
df["Species"] = df["Species"].map({"Iris-setosa": 0, "Iris-versicolor": 1, "Iris-virginica": 2})

In [6]:
X = df.drop("Species", axis = 1)
y = df["Species"]

In [7]:
knn = KNeighborsClassifier()

In [8]:
knn.fit(X, y)

KNeighborsClassifier()

In [18]:
preds = pd.Series(knn.predict(X))
preds

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Length: 150, dtype: int64

In [23]:
preds.to_csv("preds.csv")

In [24]:
pd.read_csv("preds.csv")

     Unnamed: 0  0
0             0  0
1             1  0
2             2  0
3             3  0
4             4  0
..          ... ..
145         145  2
146         146  2
147         147  2
148         148  2
149         149  2

[150 rows x 2 columns]

In [13]:
pd.read_csv("../data/processed/processed_iris.csv")

     Unnamed: 0  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0             0            5.1           3.5            1.4           0.2
1             1            4.9           3.0            1.4           0.2
2             2            4.7           3.2            1.3           0.2
3             3            4.6           3.1            1.5           0.2
4             4            5.0           3.6            1.4           0.2
..          ...            ...           ...            ...           ...
145         145            6.7           3.0            5.2           2.3
146         146            6.3           2.5            5.0           1.9
147         147            6.5           3.0            5.2           2.0
148         148            6.2           3.4            5.4           2.3
149         149            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [11]:
joblib.dump(knn, "../models/model")

['../models/model']